* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 70px;
}
body{
    background-color: rgb(107, 198, 204);
}
.introBoard {
    display: flex;
    justify-content: center;
    
}
.introText {
    display: flex;
    justify-content: space-evenly;
    overflow-wrap: break-word;
    width : 20%;
    margin-top: 5%;
    font-size: 25px;
    background-color: cornsilk;
    border: solid 2px rgb(107, 198, 204);
    border-radius: 10px;
    padding: 10px 20px
}
.info {
    text-align: center;
    margin-top: 15%;
    font-size: 50px;
}
.buttonSec {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
a {
text-align: center;
}
.button {
    font-weight: 100;
    font-size: 20px;
    border: solid 2px rgb(107, 198, 204);
    border-radius: 10px;
    padding: 15px 20px;
    width: 10%;
    background-color: cornsilk;
    color: rgb(107, 198, 204);
}
