* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 70px;
}
body{
    background-color: rgb(107, 198, 204);
}
#gameBoard {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}
#gameSequence{
    text-align: center;
    margin-top: 10%;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 100px;
    background-color: rgb(108, 196, 236); 
    border:black solid 1px;
}
.buttonSec {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
a {
text-align: center;
}
.button {
    font-weight: 100;
    font-size: 20px;
    border: solid 2px rgb(107, 198, 204);
    border-radius: 10px;
    padding: 15px 20px;
    width: 10%;
    background-color: cornsilk;
    color: rgb(107, 198, 204);
}
.tile0 {
    background-color: rgb(18, 18, 143);
}
.tile1 {
    background-color: rgb(167, 0, 0);
}
.tile2 {
    background-color: rgb(164, 167, 29);
}
.tile3 {
    background-color: rgb(93, 141, 49);
}
.tile4 {
    background-color: rgb(148, 45, 151);
}
.tile0:hover,
.tile0:focus {
background-color: rgb(0, 14, 211);
}
.tile1:hover,
.tile1:focus {
background-color: rgb(187, 0, 0);
}
.tile2:hover,
.tile2:focus {
background-color: rgb(194, 197, 34);
}
.tile3:hover,
.tile3:focus {
background-color: rgb(114, 172, 61);
}
.tile4:hover,
.tile4:focus {
background-color: rgb(173, 54, 177);
}
.tile0:active,
.tile0.activated {
background-color: rgb(47, 60, 252);
}
.tile1:active,
.tile1.activated {
background-color: rgb(253, 67, 67);
}
.tile2:active,
.tile2.activated {
background-color: rgb(236, 240, 41);
}
.tile3:active,
.tile3.activated {
background-color: rgb(152, 228, 81);
}
.tile4:active,
.tile4.activated {
background-color: rgb(229, 69, 235);
}